#form-sections {
    justify-content: space-evenly;
}

#generate-button-wrapper {
    padding: 25px;
}

#generate-button .button-text {
    font-size: 1.5em;
}

#output-wrapper {
    margin-top: 100px;
    justify-content: center;
}

#generator-password {
    padding: 20px;
    border: groove white 2px;
    border-radius: 20px;
    user-select: text;
    margin: 0;
    margin-right: 50px;
}

#copy-button {
    display: flex;
    flex: 0;
    align-items: center;
}